@import url(common.css);

.main {
    display: grid;
    grid-template-areas: 
    "bc"
    "po"
    "sd";
}

.breadcrumb {
    display: flex;
    grid-area: bc;
}

.post {
    display: flex;
    flex-direction: column;
    grid-area: po;
    width: 100%;
}

.meta {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
}

.tag {
    color: goldenrod;
}

.social {
    display: flex;
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sd;
    width: 100%;
    background: #fffff4;
}

@media (min-width: 901px) {
    .main {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-areas: 
        "bc bc bc bc"
        "po po po sd";
    }
}